parameters:
  level: 1
  paths:
    - ./src
    - ./test
  featureToggles:
    disableRuntimeReflectionProvider: true
  bootstrapFiles:
    - vendor/autoload.php
  scanDirectories:
    - ./vendor
    - ./src
    - ./test
