parameters:
  level: 1
  paths:
    - ./src
    - ./test
  ignoreErrors:
    - '#Call to an undefined method [a-zA-Z0-9\\_:\(\).]*#'
    - '#Instantiated class [a-zA-Z0-9\\_:\(\).]* not found.#'
    - '#Class [a-zA-Z0-9\\_:\(\).]* extends [a-zA-Z0-9\\_:@\(\).]*#'
    - '#Unsafe usage of new static\(\).#'
  scanDirectories:
    - vendor/**/
  scanFiles:
    - vendor/composer/ClassLoader.php
